#op_l-sidebar{
  background: @bg_Blue_dark;
}

#op_l-main{
  position: relative;
  padding: 4rem;
}

.l-left{
  float:left;
}

.l-right{
  float:right;
}

.l-center{
  text-align: center;
}

.l-imgResp{
  width: 100%;
}

.l-vCenter{
  display:flex;
  align-items: center;
  justify-content: center;
}

.l-vTop{
  align-self: flex-start;
}

.l-vBottom{
  align-self: flex-end;
}

.l-spacer{
  width: 2rem;
}

.img-responsive{
  max-width: 100%;
}

.l-cardRow{
  position: relative;
  overflow: hidden;
}

.l-card{
  background: @bg_Blue_med;
  visibility: hidden;
  position: absolute;
  top: 0;
}

@media (max-width:500px){
  #op_l-sidebar{
    width: 90%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1000;

    transition: all 0.5s ease-out;
  }
}
