.op_addOns{
  margin-bottom: 3rem;
  text-align: right;
}

@media (max-width: @lg-mobile-break) and (min-width: @lg-mobile-break-min){
  .op_addOns{
    overflow: auto;

    &--updateBtn{
      position: static;
      top: auto;
      right: auto;
      margin-bottom: 2rem;
    }

    &--table{
      width: 900px;
    }
  }
}

@media (max-width: @mobile-break){
  .op_addOns{
    overflow: auto;

    &--updateBtn{
      position: static;
      top: auto;
      right: auto;
      margin-bottom: 2rem;
    }

    &--table{
      width: 900px;
    }
  }
}
