.op_cInfo,
.op_shipCard{
  margin-bottom: 1.8rem;

  &--inText{
    margin-bottom: 1.8rem;
  }

  &--inRadio{
    margin-right: .9rem;
  }

  &--inRadioLabel{
    margin-right: 1.8rem;
  }
}

@media (max-width: 500px){
  .op_cInfo{

    &:first-of-type{
      margin-bottom: 0;
    }
  }
}
