.op_detailCard{
  padding:30px 0;

  &--tableItem{
    padding: .6rem;

    dl{
      margin:0;
      padding:0;

      dt{
        width: 48%;
        margin-right: 4%;
      }

      dd{
        width: 48%;
        padding: 0;
        margin: 0;
      }
    }

    &:nth-child(odd){
      background: @bg_Blue_med;
    }
  }

  &--cta{
    margin-bottom: 9rem;
  }
}

@media (max-width: @tab-break) and (min-width: @tab-break-min){
  .op_detailCard{
    width: 100%;
  }
}

@media (max-width: @lg-mobile-break) and (min-width: @lg-mobile-break-min){

  .op_detailCard{

    &--cta{
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
  }

}

@media (max-width:@mobile-break){

  .op_detailCard{

    &--cta{
      margin-bottom: 2rem;
    }
  }

}
