.op_introCard{

  &--video{

    .vidPlaceholder{
      width:100%;
      height:470px;
      background:black;
    }
  }

  &--advert{
  }
}

@media (max-width: 500px){
  .op_introCard{

    &--video{
      margin-bottom: 2.7rem;
    }
  }
}
