.op_mainHeader{
  margin-bottom: 8.1rem;

  &--powered{
    text-align: right;
  }
}

@media (max-width: @tab-break) and (min-width: @tab-break-min){
  .op_mainHeader{
    margin-bottom: 2rem;


    &--pageTitle{
      font-size: 3.6rem;
    }

    &--powered{
      display: none;
    }

    h1{
      font-size: 4rem;
    }
  }
}

@media (max-width: @lg-mobile-break) and (min-width: @lg-mobile-break-min){
  .op_mainHeader{
    margin-bottom: 2rem;


    &--pageTitle{
      font-size: 3.6rem;
    }

    &--powered{
      display: none;
    }

    h1{
      font-size: 4rem;
    }
  }
}

@media (max-width: @mobile-break){
  .op_mainHeader{
    margin-bottom: 2rem;


    &--pageTitle{
      font-size: 3.6rem;
    }

    &--powered{
      display: none;
    }

    h1{
      font-size: 4rem;
    }
  }
}
